<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <form class="login-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <img class='ghost-round-icon'
             src="https://lh3.googleusercontent.com/vY3cOQ3NVKEUh93Xwuq3VVN5NJVfMKZdG6oQHXK01QpEXXUMYtOwHr7keh0b_-43Kg=w150">
        <div class='welcome'>Just Manage</div>

        <div class='input-fields'>


          <mat-form-field class="login-full-width">
            <input matInput type="email" placeholder="Email" name="username" [(ngModel)]="formData.username" required email maxlength="50" minlength="0">

            <mat-error [hidden]="verifyField('username','email')">
              Please enter a valid email address
            </mat-error>
            <!--<mat-error  [hidden]="verifyField('username','required')">
              Email is <strong>required</strong>
            </mat-error>-->
            <mat-icon matSuffix>perm_identity</mat-icon>
          </mat-form-field>


          <mat-form-field class="login-full-width">
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="formData.password" required maxlength="50" minlength="0">

            <mat-error [hidden]="verifyField('password','required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>


        </div>
        <div class="div-center">
          <mat-checkbox [(ngModel)]="formData.rememberMe" name="rememberMe">Remember me!</mat-checkbox>
        </div>

        <div>
          <button class='ghost-round full-width'>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
